$tablet:$screen-sm-max;
$mobile:$screen-xs-max;
$desktop:$screen-lg;

$grid-gutter-tablet: 20px;
$grid-gutter-mobile: 40px;




$grey:#ececec;
$grey-light:#ccc;
$base-text-color:#333;
$white:#fff;
$dark:#000;


// icons
$phone-icon:"\e600";
$chat-icon:"\e601";
$plane-icon:"\e602";
$bullet-icon:"\e603";
$icon-arrow-down:"\e604";
$icon-arrow-right:"\e605";
$icon-arrow-left:"\e606";